body {
  --pf-global--active-color--100: #018732;
  --pf-global--active-color--200: #89ffca;
  --pf-global--active-color--300: #42b983;
  --pf-global--active-color--400: #5afdb1;

  --pf-global--primary-color--100: var(--pf-global--active-color--100);
  --pf-global--primary-color--200: #003513;

  --pf-global--primary-color--light-100: var(--pf-global--active-color--300);
  --pf-global--primary-color--dark-100: var(--pf-global--primary-color--100);

  --pf-global--link--Color: var(--pf-global--primary-color--100);
  --pf-global--link--Color--hover: var(--pf-global--primary-color--200);

  --pf-global--link--Color--dark: var(--pf-global--primary-color--100);
  --pf-global--link--Color--dark--hover: var(--pf-global--primary-color--200);

  --pf-global--link--Color--light: var(--pf-global--primary-color--light-100);
  --pf-global--link--Color--light--hover: var(--pf-global--active-color--400);
}

#app {
  height: 100%;
}

.pf-l-bullseye,
.pf-l-flex,
.pf-l-flex > div,
.pf-l-gallery,
.pf-l-gallery > div,
.pf-l-grid,
.pf-l-grid > div,
.pf-l-level,
.pf-l-level > div,
.pf-l-split,
.pf-l-split > div,
.pf-l-stack,
.pf-l-stack > div {
  border-style: dashed !important;
  border-width: 2px !important;
  padding: 1rem !important;
}

.pf-l-bullseye,
.pf-l-flex,
.pf-l-gallery,
.pf-l-grid,
.pf-l-level,
.pf-l-split,
.pf-l-stack {
  margin: 1rem 0 !important;
}

.pf-c-page__main-section .example-heading {
  margin-top: 50px;
  padding: var(--pf-global--spacer--md) 0;
  margin-bottom: var(--pf-global--spacer--md);
  border-bottom: var(--pf-global--BorderWidth--sm) solid #f8f8f8;
}

.markdown pre.shiki {
  padding: 1.25rem 1.5rem;
  border-radius: 6px;
  overflow-x: auto;
}
