.*
*.code-workspace
!.git*
!.eslint*
!.editorconfig
!.vscode
*.log
*.gz
*.tgz
*.tsbuildinfo
dist
# ignore versioned worktree directories
/v*
!/vite-plugins

# js
node_modules
yarn.lock
package-lock.json
pnpm-lock.yaml
