#app {
  height: 100%;
}

.pf-l-bullseye,
.pf-l-flex,
.pf-l-flex > div,
.pf-l-gallery,
.pf-l-gallery > div,
.pf-l-grid,
.pf-l-grid > div,
.pf-l-level,
.pf-l-level > div,
.pf-l-split,
.pf-l-split > div,
.pf-l-stack,
.pf-l-stack > div {
  border-style: dashed !important;
  border-width: 2px !important;
  padding: 1rem !important;
}

.pf-l-bullseye,
.pf-l-flex,
.pf-l-gallery,
.pf-l-grid,
.pf-l-level,
.pf-l-split,
.pf-l-stack {
  margin: 1rem 0 !important;
}
